@model IEnumerable<GameAPI.Models.Store>

<style>
    .infoSito {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
</style>

<br />
<br />
<h1>Rank de lojas</h1>
<h5>Top 3 lojas</h5>
<br />

<div class="infoSito">
    <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">@Model.ToList()[0].NOME</h5>
            <h2 class="card-text">1ª</h2>
        </div>
    </div>

    <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">@Model.ToList()[1].NOME</h5>
            <h2 class="card-text"> 2ª</h2>
        </div>
    </div>

    <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">@Model.ToList()[2].NOME</h5>
            <h2 class="card-text">3ª</h2>
        </div>
    </div>
</div>


<table class="table text-center">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Logo
            </th>
            <th>
                Promoções totais
            </th>
            <th>
                Status
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NOME)
                </td>
                <td>
                    <img style="width: 30px; height:30px" src="@item.LOGO">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DEALS.Count)
                </td>
                <td>
                    @if (item.IS_ACTIVE)
                    {
                        <img src="~/Assets/positive.png" style="width: 30px;" />
                    }
                    else
                    {
                        <img src="~/Assets/negative.png" style="width: 30px;" />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>