@model GameAPI.Controllers.HomeController.HomeViewModel
<style>
    .promocoes {
        display: flex;
        width: 100%;
        justify-content: space-around;
        flex-wrap:wrap;
        flex-direction:row;
    }

    .infoSito {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
</style>

<div class="infoSito">
    <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Quantidade de jogos</h5>
            <h2 class="card-text">@Model.QtdJogos</h2>
        </div>
    </div>

    <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Quantidade de promoções</h5>
            <h2 class="card-text"> @Model.QtdPromocoes</h2>
        </div>
    </div>

    <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Quantidade de lojas</h5>
            <h2 class="card-text"> @Model.QtdLojas</h2>
        </div>
    </div>
</div>

<br/><br/>
<h1>Início</h1>
<h5>Top promoções</h5>
<br/>

<div class="promocoes">
    @{
        foreach (Deal p in Model.Promocoes)
        {
            <div class="card" style="width: 18rem; margin-bottom:3%;">
                <img class="card-img-top" src="@p.Game.THUMBNAIL_LINK" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@p.Game.TITLE</h5>
                </div>
                <div class="card-body">
                    <a class="text-primary"><strong>R$@((float)p.SALE_PRICE)</strong></a>
                    <a class="text-danger"><del>R$@p.Game.PRICE</del></a>
                </div>
            </div>
        }
    }
</div>